/*  Text */

.text-center {
    text-align: center;
}

.heading-small {
    font-size: 1.25rem;
}
.heading-medium {
    font-size: 1.5rem;
}
.heading-big {
    font-size: 1.75rem;
}

/* Color */

.bg-light-grey {
    background: #81C784;
}
.bg-dark-grey {
    background: #4CAF50;
}
/* Buttonlar için */
.btn {
    margin-top: 1.25rem;
    
    padding: 0.8rem 3rem;
    border-radius: 5px;
    letter-spacing: 1px;
}
.btn-primary {
    background: #4CAF50;
}
.btn-primary:hover {
    color: #81C784;
    background: #424242;
    border: 1px solid #81C784;
}
.btn-block {
    width: 100%;
    text-align: center;
}
/* Formlar */
.form-group {
    padding: 0.25rem 0;
}
.form-group label {
    display: block;
}
.form-control {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 4px;
}
/* Container */

.container {
    max-width: 1100px;
    margin: 0 auto;
}