#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
}
#Hakkımda .item {
    flex-direction: column;
}
#Hakkımda .item .yazılar {
    width: 100%;
}
.courses .course {
    flex-direction: column;
    text-align: center;
}